.clients{
    background-color: black;
    color: white;
    position: relative;
    padding: 50px 250px 10px 250px; 
    z-index: 10;
    
}

.clients .clients-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clients h2{
    font-size: 100px;
    font-weight: 300;
    margin: 0;

}
.clients p{
    font-size: 35px;
    padding-left: 300px;
}

.brand-logos {
    padding: 100px 50px 80px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
  }
  
  .logo {
    flex: 1 1 calc(20% - 20px); 
    max-width: calc(20% - 20px);
    box-sizing: border-box;
    padding: 50px;
  }
  
  .logo img {
    height: auto;
  }

  .clients .view-work-button{

    border: white 1px solid;
    padding: 20px;
  }

  .clients .view-work-button:hover {

    color: black;
    background-color: white;
  }